<!-- fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<body>
    <div th:fragment="topbar" th:href="@{style.css}">
        <nav class="topbar">
            <a href="javascript:history.back()" class="back-button">Back</a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/viewAll">View All Petitions</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
