<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Petitions</title>
    <link rel="stylesheet" href="./../static/style.css">
</head>
<body>
    <div th:replace="fragments :: topbar"></div>
    <div class="centered-content">
        <div class="petitions-container">
            <div class="petitions-wrapper">
            <h2 class="petitions-title">Petitions</h2>
                <th:block th:each="petition : ${petitions}">
                    <div class="card petition-card">
                        <h3><a th:href="@{/petition/{id}(id=${petition.id})}" th:text="${petition.title}" class="custom-link"></a></h3>
                        <p th:text="${petition.description}"></p>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</body>
</html>
